hl7-receive-howto_1.0.0/src/main/app/howto-hl7-receive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7" xmlns:hl7-edi="http://www.mulesoft.org/schema/mule/hl7-edi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hl7-edi http://www.mulesoft.org/schema/mule/hl7-edi/current/mule-hl7-edi.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <hl7-edi:config name="HL7_EDI__Configuration" doc:name="HL7 EDI: Configuration">
        <hl7-edi:schemas>
            <hl7-edi:schema>/hl7/v2_2/ADT_A28.esl</hl7-edi:schema>
        </hl7-edi:schemas>
    </hl7-edi:config>
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" doc:name="MySQL Configuration"/>
    <flow name="howto-hl7-receiveFlow">
        <hl7:inbound-endpoint host="${mllp.host}" port="${mllp.port}" responseTimeout="10000"  doc:name="HL7 MLLP" />
        <hl7-edi:read config-ref="HL7_EDI__Configuration" doc:name="HL7 EDI"/>
        <flow-ref name="format-lookup-hl7-flow" doc:name="format-lookup-hl7"/>
        <file:outbound-endpoint path="hl7-output.dat" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="format-lookup-hl7-flow">
        <dw:transform-message doc:name="Transform Message" metadata:id="1a1c61dd-4ccd-4f7d-ba06-f9c540704c42">
            <dw:input-payload doc:sample="sample_data/InMessage_7.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json skipNullOn="everywhere"
---
{
	Delimiters: payload.Delimiters,
	Id: payload.Id,
	Name: payload.Name,
	MSH: {
		MSH-02: payload.MSH.MSH-02,
		MSH-03-01: payload.MSH.MSH-03-01,
		MSH-03-02: "IM",
		MSH-03-03: payload.MSH.MSH-03-03,
		MSH-04-01: payload.MSH.MSH-04-01,
		MSH-04-02: "MIHS",
		MSH-04-03: payload.MSH.MSH-04-03,
		MSH-05-01: payload.MSH.MSH-05-01,
		MSH-05-02: payload.MSH.MSH-05-02,
		MSH-05-03: payload.MSH.MSH-05-03,
		MSH-06-01: payload.MSH.MSH-06-01,
		MSH-06-02: payload.MSH.MSH-06-02,
		MSH-06-03: payload.MSH.MSH-06-03,
		MSH-07-01: payload.MSH.MSH-07-01,
		MSH-07-02: payload.MSH.MSH-07-02,
		MSH-08: payload.MSH.MSH-08,
		MSH-09-01: payload.MSH.MSH-09-01,
		MSH-09-02: payload.MSH.MSH-09-02,
		MSH-09-03: payload.MSH.MSH-09-03,
		MSH-10: payload.MSH.MSH-10,
		MSH-11-01: payload.MSH.MSH-11-01,
		MSH-11-02: payload.MSH.MSH-11-02,
		MSH-12-01: payload.MSH.MSH-12-01,
		MSH-12-02-01: payload.MSH.MSH-12-02-01,
		MSH-12-02-02: payload.MSH.MSH-12-02-02,
		MSH-12-02-03: payload.MSH.MSH-12-02-03,
		MSH-12-02-04: payload.MSH.MSH-12-02-04,
		MSH-12-02-05: payload.MSH.MSH-12-02-05,
		MSH-12-02-06: payload.MSH.MSH-12-02-06,
		MSH-12-03-01: payload.MSH.MSH-12-03-01,
		MSH-12-03-02: payload.MSH.MSH-12-03-02,
		MSH-12-03-03: payload.MSH.MSH-12-03-03,
		MSH-12-03-04: payload.MSH.MSH-12-03-04,
		MSH-12-03-05: payload.MSH.MSH-12-03-05,
		MSH-12-03-06: payload.MSH.MSH-12-03-06,
		MSH-13: payload.MSH.MSH-13,
		MSH-14: payload.MSH.MSH-14,
		MSH-15: payload.MSH.MSH-15,
		MSH-16: payload.MSH.MSH-16,
		MSH-17: payload.MSH.MSH-17,
		MSH-18: payload.MSH.MSH-18,
		MSH-19-01: payload.MSH.MSH-19-01,
		MSH-19-02: payload.MSH.MSH-19-02,
		MSH-19-03: payload.MSH.MSH-19-03,
		MSH-19-04: payload.MSH.MSH-19-04,
		MSH-19-05: payload.MSH.MSH-19-05,
		MSH-19-06: payload.MSH.MSH-19-06,
		MSH-20: payload.MSH.MSH-20,
		MSH-21-01: payload.MSH.MSH-21-01,
		MSH-21-02: payload.MSH.MSH-21-02,
		MSH-21-03: payload.MSH.MSH-21-03,
		MSH-21-04: payload.MSH.MSH-21-04
	},
	Data: {
		ADT_A01: {
			"02_EVN": {
				EVN-01: payload.Data.ADT_A01."02_EVN".EVN-01,
				EVN-02-01: payload.Data.ADT_A01."02_EVN".EVN-02-01,
				EVN-02-02: payload.Data.ADT_A01."02_EVN".EVN-02-02,
				EVN-03-01: payload.Data.ADT_A01."02_EVN".EVN-03-01,
				EVN-03-02: payload.Data.ADT_A01."02_EVN".EVN-03-02,
				EVN-04: payload.Data.ADT_A01."02_EVN".EVN-04,
				EVN-05: payload.Data.ADT_A01."02_EVN".EVN-05 map ((eVN05 , indexOfEVN05) -> {
					EVN-05-01: eVN05.EVN-05-01,
					EVN-05-02-01: eVN05.EVN-05-02-01,
					EVN-05-02-02: eVN05.EVN-05-02-02,
					EVN-05-03: eVN05.EVN-05-03,
					EVN-05-04: eVN05.EVN-05-04,
					EVN-05-05: eVN05.EVN-05-05,
					EVN-05-06: eVN05.EVN-05-06,
					EVN-05-07: eVN05.EVN-05-07,
					EVN-05-08: eVN05.EVN-05-08,
					EVN-05-09-01: eVN05.EVN-05-09-01,
					EVN-05-09-02: eVN05.EVN-05-09-02,
					EVN-05-09-03: eVN05.EVN-05-09-03,
					EVN-05-10: eVN05.EVN-05-10,
					EVN-05-11: eVN05.EVN-05-11,
					EVN-05-12: eVN05.EVN-05-12,
					EVN-05-13: eVN05.EVN-05-13,
					EVN-05-14-01: eVN05.EVN-05-14-01,
					EVN-05-14-02: eVN05.EVN-05-14-02,
					EVN-05-14-03: eVN05.EVN-05-14-03,
					EVN-05-15: eVN05.EVN-05-15
				}),
				EVN-06-01: payload.Data.ADT_A01."02_EVN".EVN-06-01,
				EVN-06-02: payload.Data.ADT_A01."02_EVN".EVN-06-02
			},
			"03_PID": {
				PID-01: payload.Data.ADT_A01."03_PID".PID-01,
				PID-02-01: payload.Data.ADT_A01."03_PID".PID-02-01,
				PID-02-02: payload.Data.ADT_A01."03_PID".PID-02-02,
				PID-02-03: payload.Data.ADT_A01."03_PID".PID-02-03,
				PID-02-04-01: payload.Data.ADT_A01."03_PID".PID-02-04-01,
				PID-02-04-02: payload.Data.ADT_A01."03_PID".PID-02-04-02,
				PID-02-04-03: payload.Data.ADT_A01."03_PID".PID-02-04-03,
				PID-02-05: payload.Data.ADT_A01."03_PID".PID-02-05,
				PID-02-06-01: payload.Data.ADT_A01."03_PID".PID-02-06-01,
				PID-02-06-02: payload.Data.ADT_A01."03_PID".PID-02-06-02,
				PID-02-06-03: payload.Data.ADT_A01."03_PID".PID-02-06-03,
				PID-03: payload.Data.ADT_A01."03_PID".PID-03,
				PID-04: payload.Data.ADT_A01."03_PID".PID-04,
				PID-05: payload.Data.ADT_A01."03_PID".PID-05,
				PID-06: payload.Data.ADT_A01."03_PID".PID-06,
				PID-07-01: payload.Data.ADT_A01."03_PID".PID-07-01,
				PID-07-02: payload.Data.ADT_A01."03_PID".PID-07-02,
				PID-08: payload.Data.ADT_A01."03_PID".PID-08,
				PID-09: payload.Data.ADT_A01."03_PID".PID-09,
				PID-10: payload.Data.ADT_A01."03_PID".PID-10,
				PID-11: payload.Data.ADT_A01."03_PID".PID-11,
				PID-12: payload.Data.ADT_A01."03_PID".PID-12,
				PID-13: payload.Data.ADT_A01."03_PID".PID-13,
				PID-14: payload.Data.ADT_A01."03_PID".PID-14,
				PID-15-01: payload.Data.ADT_A01."03_PID".PID-15-01,
				PID-15-02: payload.Data.ADT_A01."03_PID".PID-15-02,
				PID-15-03: payload.Data.ADT_A01."03_PID".PID-15-03,
				PID-15-04: payload.Data.ADT_A01."03_PID".PID-15-04,
				PID-15-05: payload.Data.ADT_A01."03_PID".PID-15-05,
				PID-15-06: payload.Data.ADT_A01."03_PID".PID-15-06,
				PID-16-01: payload.Data.ADT_A01."03_PID".PID-16-01,
				PID-16-02: payload.Data.ADT_A01."03_PID".PID-16-02,
				PID-16-03: payload.Data.ADT_A01."03_PID".PID-16-03,
				PID-16-04: payload.Data.ADT_A01."03_PID".PID-16-04,
				PID-16-05: payload.Data.ADT_A01."03_PID".PID-16-05,
				PID-16-06: payload.Data.ADT_A01."03_PID".PID-16-06,
				PID-17-01: payload.Data.ADT_A01."03_PID".PID-17-01,
				PID-17-02: payload.Data.ADT_A01."03_PID".PID-17-02,
				PID-17-03: payload.Data.ADT_A01."03_PID".PID-17-03,
				PID-17-04: payload.Data.ADT_A01."03_PID".PID-17-04,
				PID-17-05: payload.Data.ADT_A01."03_PID".PID-17-05,
				PID-17-06: payload.Data.ADT_A01."03_PID".PID-17-06,
				PID-18-01: payload.Data.ADT_A01."03_PID".PID-18-01,
				PID-18-02: payload.Data.ADT_A01."03_PID".PID-18-02,
				PID-18-03: payload.Data.ADT_A01."03_PID".PID-18-03,
				PID-18-04-01: payload.Data.ADT_A01."03_PID".PID-18-04-01,
				PID-18-04-02: payload.Data.ADT_A01."03_PID".PID-18-04-02,
				PID-18-04-03: payload.Data.ADT_A01."03_PID".PID-18-04-03,
				PID-18-05: payload.Data.ADT_A01."03_PID".PID-18-05,
				PID-18-06-01: payload.Data.ADT_A01."03_PID".PID-18-06-01,
				PID-18-06-02: payload.Data.ADT_A01."03_PID".PID-18-06-02,
				PID-18-06-03: payload.Data.ADT_A01."03_PID".PID-18-06-03,
				PID-19: payload.Data.ADT_A01."03_PID".PID-19,
				PID-20-01: payload.Data.ADT_A01."03_PID".PID-20-01,
				PID-20-02: payload.Data.ADT_A01."03_PID".PID-20-02,
				PID-20-03: payload.Data.ADT_A01."03_PID".PID-20-03,
				PID-21: payload.Data.ADT_A01."03_PID".PID-21,
				PID-22: payload.Data.ADT_A01."03_PID".PID-22,
				PID-23: payload.Data.ADT_A01."03_PID".PID-23,
				PID-24: payload.Data.ADT_A01."03_PID".PID-24,
				PID-25: payload.Data.ADT_A01."03_PID".PID-25,
				PID-26: payload.Data.ADT_A01."03_PID".PID-26,
				PID-27-01: payload.Data.ADT_A01."03_PID".PID-27-01,
				PID-27-02: payload.Data.ADT_A01."03_PID".PID-27-02,
				PID-27-03: payload.Data.ADT_A01."03_PID".PID-27-03,
				PID-27-04: payload.Data.ADT_A01."03_PID".PID-27-04,
				PID-27-05: payload.Data.ADT_A01."03_PID".PID-27-05,
				PID-27-06: payload.Data.ADT_A01."03_PID".PID-27-06,
				PID-28-01: payload.Data.ADT_A01."03_PID".PID-28-01,
				PID-28-02: payload.Data.ADT_A01."03_PID".PID-28-02,
				PID-28-03: payload.Data.ADT_A01."03_PID".PID-28-03,
				PID-28-04: payload.Data.ADT_A01."03_PID".PID-28-04,
				PID-28-05: payload.Data.ADT_A01."03_PID".PID-28-05,
				PID-28-06: payload.Data.ADT_A01."03_PID".PID-28-06,
				PID-29-01: payload.Data.ADT_A01."03_PID".PID-29-01,
				PID-29-02: payload.Data.ADT_A01."03_PID".PID-29-02,
				PID-30: payload.Data.ADT_A01."03_PID".PID-30
			},
			"05_PD1": payload.Data.ADT_A01."05_PD1",
			"09_NK1": payload.Data.ADT_A01."09_NK1",
			"12_PV1": {
				PV1-01: payload.Data.ADT_A01."12_PV1".PV1-01,
				PV1-02: lookup("patientClass-lookup-flow",{
					input: payload.Data.ADT_A01."12_PV1".PV1-02
				}),
				PV1-03-01: payload.Data.ADT_A01."12_PV1".PV1-03-01,
				PV1-03-02: payload.Data.ADT_A01."12_PV1".PV1-03-02,
				PV1-03-03: payload.Data.ADT_A01."12_PV1".PV1-03-03,
				PV1-03-04-01: payload.Data.ADT_A01."12_PV1".PV1-03-04-01,
				PV1-03-04-02: payload.Data.ADT_A01."12_PV1".PV1-03-04-02,
				PV1-03-04-03: payload.Data.ADT_A01."12_PV1".PV1-03-04-03,
				PV1-03-05: payload.Data.ADT_A01."12_PV1".PV1-03-05,
				PV1-03-06: payload.Data.ADT_A01."12_PV1".PV1-03-06,
				PV1-03-07: payload.Data.ADT_A01."12_PV1".PV1-03-07,
				PV1-03-08: payload.Data.ADT_A01."12_PV1".PV1-03-08,
				PV1-03-09: payload.Data.ADT_A01."12_PV1".PV1-03-09,
				PV1-04: payload.Data.ADT_A01."12_PV1".PV1-04,
				PV1-05-01: payload.Data.ADT_A01."12_PV1".PV1-05-01,
				PV1-05-02: payload.Data.ADT_A01."12_PV1".PV1-05-02,
				PV1-05-03: payload.Data.ADT_A01."12_PV1".PV1-05-03,
				PV1-05-04-01: payload.Data.ADT_A01."12_PV1".PV1-05-04-01,
				PV1-05-04-02: payload.Data.ADT_A01."12_PV1".PV1-05-04-02,
				PV1-05-04-03: payload.Data.ADT_A01."12_PV1".PV1-05-04-03,
				PV1-05-05: payload.Data.ADT_A01."12_PV1".PV1-05-05,
				PV1-05-06-01: payload.Data.ADT_A01."12_PV1".PV1-05-06-01,
				PV1-05-06-02: payload.Data.ADT_A01."12_PV1".PV1-05-06-02,
				PV1-05-06-03: payload.Data.ADT_A01."12_PV1".PV1-05-06-03,
				PV1-06-01: payload.Data.ADT_A01."12_PV1".PV1-06-01,
				PV1-06-02: payload.Data.ADT_A01."12_PV1".PV1-06-02,
				PV1-06-03: payload.Data.ADT_A01."12_PV1".PV1-06-03,
				PV1-06-04-01: payload.Data.ADT_A01."12_PV1".PV1-06-04-01,
				PV1-06-04-02: payload.Data.ADT_A01."12_PV1".PV1-06-04-02,
				PV1-06-04-03: payload.Data.ADT_A01."12_PV1".PV1-06-04-03,
				PV1-06-05: payload.Data.ADT_A01."12_PV1".PV1-06-05,
				PV1-06-06: payload.Data.ADT_A01."12_PV1".PV1-06-06,
				PV1-06-07: payload.Data.ADT_A01."12_PV1".PV1-06-07,
				PV1-06-08: payload.Data.ADT_A01."12_PV1".PV1-06-08,
				PV1-06-09: payload.Data.ADT_A01."12_PV1".PV1-06-09,
				PV1-07: payload.Data.ADT_A01."12_PV1".PV1-07,
				PV1-08: payload.Data.ADT_A01."12_PV1".PV1-08,
				PV1-09: payload.Data.ADT_A01."12_PV1".PV1-09,
				PV1-10: payload.Data.ADT_A01."12_PV1".PV1-10,
				PV1-11-01: payload.Data.ADT_A01."12_PV1".PV1-11-01,
				PV1-11-02: payload.Data.ADT_A01."12_PV1".PV1-11-02,
				PV1-11-03: payload.Data.ADT_A01."12_PV1".PV1-11-03,
				PV1-11-04-01: payload.Data.ADT_A01."12_PV1".PV1-11-04-01,
				PV1-11-04-02: payload.Data.ADT_A01."12_PV1".PV1-11-04-02,
				PV1-11-04-03: payload.Data.ADT_A01."12_PV1".PV1-11-04-03,
				PV1-11-05: payload.Data.ADT_A01."12_PV1".PV1-11-05,
				PV1-11-06: payload.Data.ADT_A01."12_PV1".PV1-11-06,
				PV1-11-07: payload.Data.ADT_A01."12_PV1".PV1-11-07,
				PV1-11-08: payload.Data.ADT_A01."12_PV1".PV1-11-08,
				PV1-11-09: payload.Data.ADT_A01."12_PV1".PV1-11-09,
				PV1-12: payload.Data.ADT_A01."12_PV1".PV1-12,
				PV1-13: payload.Data.ADT_A01."12_PV1".PV1-13,
				PV1-14: payload.Data.ADT_A01."12_PV1".PV1-14,
				PV1-15: payload.Data.ADT_A01."12_PV1".PV1-15,
				PV1-16: payload.Data.ADT_A01."12_PV1".PV1-16,
				PV1-17: payload.Data.ADT_A01."12_PV1".PV1-17,
				PV1-18: payload.Data.ADT_A01."12_PV1".PV1-18,
				PV1-19-01: payload.Data.ADT_A01."12_PV1".PV1-19-01,
				PV1-19-02: payload.Data.ADT_A01."12_PV1".PV1-19-02,
				PV1-19-03: payload.Data.ADT_A01."12_PV1".PV1-19-03,
				PV1-19-04-01: payload.Data.ADT_A01."12_PV1".PV1-19-04-01,
				PV1-19-04-02: payload.Data.ADT_A01."12_PV1".PV1-19-04-02,
				PV1-19-04-03: payload.Data.ADT_A01."12_PV1".PV1-19-04-03,
				PV1-19-05: payload.Data.ADT_A01."12_PV1".PV1-19-05,
				PV1-19-06-01: payload.Data.ADT_A01."12_PV1".PV1-19-06-01,
				PV1-19-06-02: payload.Data.ADT_A01."12_PV1".PV1-19-06-02,
				PV1-19-06-03: payload.Data.ADT_A01."12_PV1".PV1-19-06-03,
				PV1-20: payload.Data.ADT_A01."12_PV1".PV1-20,
				PV1-21: payload.Data.ADT_A01."12_PV1".PV1-21,
				PV1-22: payload.Data.ADT_A01."12_PV1".PV1-22,
				PV1-23: payload.Data.ADT_A01."12_PV1".PV1-23,
				PV1-24: payload.Data.ADT_A01."12_PV1".PV1-24,
				PV1-25: payload.Data.ADT_A01."12_PV1".PV1-25,
				PV1-26: payload.Data.ADT_A01."12_PV1".PV1-26,
				PV1-27: payload.Data.ADT_A01."12_PV1".PV1-27,
				PV1-28: payload.Data.ADT_A01."12_PV1".PV1-28,
				PV1-29: payload.Data.ADT_A01."12_PV1".PV1-29,
				PV1-30: payload.Data.ADT_A01."12_PV1".PV1-30,
				PV1-31: payload.Data.ADT_A01."12_PV1".PV1-31,
				PV1-32: payload.Data.ADT_A01."12_PV1".PV1-32,
				PV1-33: payload.Data.ADT_A01."12_PV1".PV1-33,
				PV1-34: payload.Data.ADT_A01."12_PV1".PV1-34,
				PV1-35: payload.Data.ADT_A01."12_PV1".PV1-35,
				PV1-36: payload.Data.ADT_A01."12_PV1".PV1-36,
				PV1-37-01: payload.Data.ADT_A01."12_PV1".PV1-37-01,
				PV1-37-02-01: payload.Data.ADT_A01."12_PV1".PV1-37-02-01,
				PV1-37-02-02: payload.Data.ADT_A01."12_PV1".PV1-37-02-02,
				PV1-38-01: payload.Data.ADT_A01."12_PV1".PV1-38-01,
				PV1-38-02: payload.Data.ADT_A01."12_PV1".PV1-38-02,
				PV1-38-03: payload.Data.ADT_A01."12_PV1".PV1-38-03,
				PV1-38-04: payload.Data.ADT_A01."12_PV1".PV1-38-04,
				PV1-38-05: payload.Data.ADT_A01."12_PV1".PV1-38-05,
				PV1-38-06: payload.Data.ADT_A01."12_PV1".PV1-38-06,
				PV1-39: payload.Data.ADT_A01."12_PV1".PV1-39,
				PV1-40: payload.Data.ADT_A01."12_PV1".PV1-40,
				PV1-41: payload.Data.ADT_A01."12_PV1".PV1-41,
				PV1-42-01: payload.Data.ADT_A01."12_PV1".PV1-42-01,
				PV1-42-02: payload.Data.ADT_A01."12_PV1".PV1-42-02,
				PV1-42-03: payload.Data.ADT_A01."12_PV1".PV1-42-03,
				PV1-42-04-01: payload.Data.ADT_A01."12_PV1".PV1-42-04-01,
				PV1-42-04-02: payload.Data.ADT_A01."12_PV1".PV1-42-04-02,
				PV1-42-04-03: payload.Data.ADT_A01."12_PV1".PV1-42-04-03,
				PV1-42-05: payload.Data.ADT_A01."12_PV1".PV1-42-05,
				PV1-42-06: payload.Data.ADT_A01."12_PV1".PV1-42-06,
				PV1-42-07: payload.Data.ADT_A01."12_PV1".PV1-42-07,
				PV1-42-08: payload.Data.ADT_A01."12_PV1".PV1-42-08,
				PV1-42-09: payload.Data.ADT_A01."12_PV1".PV1-42-09,
				PV1-43-01: payload.Data.ADT_A01."12_PV1".PV1-43-01,
				PV1-43-02: payload.Data.ADT_A01."12_PV1".PV1-43-02,
				PV1-43-03: payload.Data.ADT_A01."12_PV1".PV1-43-03,
				PV1-43-04-01: payload.Data.ADT_A01."12_PV1".PV1-43-04-01,
				PV1-43-04-02: payload.Data.ADT_A01."12_PV1".PV1-43-04-02,
				PV1-43-04-03: payload.Data.ADT_A01."12_PV1".PV1-43-04-03,
				PV1-43-05: payload.Data.ADT_A01."12_PV1".PV1-43-05,
				PV1-43-06: payload.Data.ADT_A01."12_PV1".PV1-43-06,
				PV1-43-07: payload.Data.ADT_A01."12_PV1".PV1-43-07,
				PV1-43-08: payload.Data.ADT_A01."12_PV1".PV1-43-08,
				PV1-43-09: payload.Data.ADT_A01."12_PV1".PV1-43-09,
				PV1-44-01: payload.Data.ADT_A01."12_PV1".PV1-44-01,
				PV1-44-02: payload.Data.ADT_A01."12_PV1".PV1-44-02,
				PV1-45-01: payload.Data.ADT_A01."12_PV1".PV1-45-01,
				PV1-45-02: payload.Data.ADT_A01."12_PV1".PV1-45-02,
				PV1-46: payload.Data.ADT_A01."12_PV1".PV1-46,
				PV1-47: payload.Data.ADT_A01."12_PV1".PV1-47,
				PV1-48: payload.Data.ADT_A01."12_PV1".PV1-48,
				PV1-49: payload.Data.ADT_A01."12_PV1".PV1-49,
				PV1-50-01: payload.Data.ADT_A01."12_PV1".PV1-50-01,
				PV1-50-02: payload.Data.ADT_A01."12_PV1".PV1-50-02,
				PV1-50-03: payload.Data.ADT_A01."12_PV1".PV1-50-03,
				PV1-50-04-01: payload.Data.ADT_A01."12_PV1".PV1-50-04-01,
				PV1-50-04-02: payload.Data.ADT_A01."12_PV1".PV1-50-04-02,
				PV1-50-04-03: payload.Data.ADT_A01."12_PV1".PV1-50-04-03,
				PV1-50-05: payload.Data.ADT_A01."12_PV1".PV1-50-05,
				PV1-50-06-01: payload.Data.ADT_A01."12_PV1".PV1-50-06-01,
				PV1-50-06-02: payload.Data.ADT_A01."12_PV1".PV1-50-06-02,
				PV1-50-06-03: payload.Data.ADT_A01."12_PV1".PV1-50-06-03,
				PV1-51: payload.Data.ADT_A01."12_PV1".PV1-51,
				PV1-52: payload.Data.ADT_A01."12_PV1".PV1-52
			},
			"14_PV2": payload.Data.ADT_A01."14_PV2",
			"18_DB1": payload.Data.ADT_A01."18_DB1",
			"23_OBX": payload.Data.ADT_A01."23_OBX",
			"28_AL1": payload.Data.ADT_A01."28_AL1",
			"33_DG1": payload.Data.ADT_A01."33_DG1",
			"37_DRG": payload.Data.ADT_A01."37_DRG",
			"41_PROCEDURE": payload.Data.ADT_A01."41_PROCEDURE",
			"51_GT1": payload.Data.ADT_A01."51_GT1",
			"56_INSURANCE": payload.Data.ADT_A01."56_INSURANCE",
			"68_ACC": payload.Data.ADT_A01."68_ACC",
			"71_UB1": payload.Data.ADT_A01."71_UB1",
			"74_UB2": payload.Data.ADT_A01."74_UB2"
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="patientClass-lookup-flow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	inputPatientClass: payload.input
}]]></dw:set-payload>
        </dw:transform-message>
        <db:select config-ref="MySQL_Configuration" doc:name="PatientClass Table">
            <db:parameterized-query><![CDATA[select output from PatientClass where input=#[payload.inputPatientClass]]]></db:parameterized-query>
        </db:select>
        <set-payload value="#[payload[0].output]" doc:name="Set Payload"/>
    </flow>
</mule>
