soap-mysql-howto_1.0.0/src/main/app/soap-on-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
  <mulexml:namespace-manager includeConfigNamespaces="true">
    <mulexml:namespace prefix="sch" uri="http://www.mulesoft.com/schemas/Mule/Schema.xsd"/>
  </mulexml:namespace-manager>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="bank" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="generatedata" password="generatedata" database="bank" doc:name="MySQL Configuration"/>
    <flow name="soap-on-db-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/loan" doc:name="ReceiveHttpRequest"/>
        <cxf:proxy-service doc:name="Process SOAP request" namespace="http://www.example.org/loan_system_api_wsdl/" payload="body" service="loan_system_api_wsdl" wsdlLocation="loan_system_api_wsdl.wsdl"/>
        <mulexml:dom-to-xml-transformer doc:name="Transform DOM to XML"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform query in DB ">
            <db:parameterized-query><![CDATA[select * from loan where loan_id = #[xpath3("sch:getLoanRequest/sch:loanId")]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.mulesoft.com/schemas/Mule/Schema.xsd
---
{
	ns0#getLoanResponse: {
		ns0#loanList: {
			ns0#loan: {
				ns0#loanId: payload[0]."loan_id",
				ns0#customerId: payload[0]."customer_id",
				ns0#loanType: payload[0]."loan_type",
				ns0#loanAmount: payload[0]."loan_amount",
				ns0#monthlyPayment: payload[0]."monthly_payment",
				ns0#interestRate: payload[0]."interest_rate"
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" metadata:id="9db6e51d-18b7-47f5-9d37-3086e82ac384" doc:name="Logger"/>
    </flow>
</mule>
