hashicorp-vault-howto_1.0.0/config_mgr_process_api/src/main/app/configuration-manager-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
    <http:listener-config name="configuration-manager-process-api-httpListenerConfig" host="0.0.0.0" port="8091" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="configuration-manager-process-api-config" raml="configuration-manager-process-api.raml" consoleEnabled="false" doc:name="Router"/>
    <api-platform-gw:api apiName="Configuration Manager Process API" version="1.0.0-${ENVIRONMENT}" flowRef="configuration-manager-process-api-main" create="true" apikitRef="configuration-manager-process-api-config" doc:name="API Autodiscovery"/>
    <flow name="configuration-manager-process-api-main">
        <http:listener config-ref="configuration-manager-process-api-httpListenerConfig" path="/config-mgr/api/v1/*" doc:name="HTTP"/>
        <apikit:router config-ref="configuration-manager-process-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="configuration-manager-process-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="configuration-manager-process-api-console">
        <http:listener config-ref="configuration-manager-process-api-httpListenerConfig" path="/config-mgr/console/v1/*" doc:name="HTTP"/>
        <apikit:console config-ref="configuration-manager-process-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/:configuration-manager-process-api-config">
        <flow-ref name="wf_Get_Vault_Secrets" doc:name="wf_Get_Vault_Secrets"/>
    </flow>
    <flow name="post:/:configuration-manager-process-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="configuration-manager-process-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
